.container{
  width: 100vw;
  height: 100vh;
  background-color: #999;
  position: relative;
}

.round{
  width: 30px;
  height: 30px;
  clip-path: circle();
  background-color: black;
  position: absolute;
  z-index: 2;
}

.vivek{
  position: absolute;
  height: 10px;
  background-color: azure;
  transform: rotate(30deg);
  transform-origin: left;
  z-index: 0;
}